.ms-40{
    margin-left: 40px;
}

.me-170{
    margin-right: 170px;
}

.rounded-24{
    border-radius: 24px;
}

.rounded-40{
    border-radius: 40px;
}

.rounded-80{
    border-radius: 80px;
}

.opacity-80{
    opacity: 0.8;
}

.h-40{
    height: 40px;
}
