<nav class="navbar bg-primary py-2 sticky-top shadow-sm navbar-expand-lg">
    <div class="container">
        <!-- 收合按鈕及視窗待調整 -->
        <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="material-icons-round fs-1 text-light-brown menu-icon">menu</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
            <ul class="navbar-nav adminNavbar justify-content-evenly">
                <li class="nav-item">
                    <a class="nav-link text-center text-light-brown" href="admin-products.html">商品總覽</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-center text-light-brown" href="#" id="orderManage" role="button" data-bs-toggle="dropdown" aria-expanded="false">訂單管理</a>
                    <ul class="dropdown-menu dropdown-menu-primary bg-primary text-center" aria-labelledby="orderManage">
                        <li class="mb-1"><a class="dropdown-item text-dark-brown notProcessedOrder" href="">尚未處理</a></li>
                        <li class="mb-1"><a class="dropdown-item text-dark-brown processingOrder" href="">揀貨中</a></li>
                        <li class="mb-1"><a class="dropdown-item text-dark-brown deliveringOrder" href="">出貨中</a></li>
                        <li class="mb-1"><a class="dropdown-item text-dark-brown canceledOrder" href="">取消的訂單</a></li>
                        <li class="mb-1"><a class="dropdown-item text-dark-brown completedOrder" href="">完成的訂單</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-center text-light-brown" href="#" id="saleAnalysis" role="button" data-bs-toggle="dropdown" aria-expanded="false">營業分析</a>
                    <ul class="dropdown-menu dropdown-menu-primary bg-primary text-center" aria-labelledby="saleAnalysis">
                        <li class="mb-1"><a class="dropdown-item text-dark-brown" href="admin-analysis.html">業績</a></li>
                        <li class="mb-1"><a class="dropdown-item text-dark-brown" href="admin-coupon.html">優惠碼</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center text-light-brown" href="index.html">回到前台</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center text-light-brown adminLogoutBtn" href="">登出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script type="module" src="../assets/js/admin-header.js"></script>