<footer class="bg-primary py-5">
    <div class="d-flex justify-content-center">
        <a href="https://line.me/zh-hant/">
            <img class="h-40" src="../assets/images/icon_line.png" alt="icon_line">
        </a>
        <a class="mx-5" href="https://www.facebook.com/">        
            <img class="h-40" src="../assets/images/icon_fb.png" alt="icon_fb">
        </a>
        <a href="https://www.instagram.com/">        
            <img class="h-40" src="../assets/images/icon_ig.png" alt="icon_ig">
        </a>
    </div>
    <div class="d-flex flex-column align-items-center">
        <a class="mt-5 text-light-brown text-decoration-none" href="about.html">關於Deal Meal 訂食</a>
        <a class="mt-5 text-light-brown text-decoration-none" href="privacy.html">隱私條款</a>
        <p class="mt-5 text-light-brown">客服信箱：dealmeal@mail.com</p>
        <p class="mt-5 text-light-brown">客服電話：02-12345678</p>
        <a class="mt-5 text-dark-brown text-decoration-none" href="admin.html">進入後台</a>
        <span class="mt-5 fs-7 text-white">Copyright © 2023 DealMeal. All rights reserved.</span>
    </div>
</footer>