
<nav class="navbar bg-dark-brown py-2 sticky-top shadow-sm navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img src="../assets/images/logo_blue 1.png" alt="logo" style="width: 86px;height: 86px;"></a>

        <div class="memberWelcome"></div>


        <button class="navbar-toggler border-0 shadow-none burgerBtn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="material-icons-round fs-2 text-light-brown menu-icon">menu</span>
            <!-- burgerBtn (alertBadgeBackground是relative, alertBadge是absolute -->
            <span class="cartAlertBurgerBadge alertBadge d-none">
                <span class="visually-hidden">New alerts</span>
            </span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent"> 
            <ul class="navbar-nav ms-lg-auto">
                <li class="nav-item">
                    <a class="nav-link text-center text-light-brown" href="products.html">商品總覽</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center text-light-brown memberBtn" href="">會員中心</a>
                </li>
                <!-- memberCar( alertBadgeBackground是relative, alertBadge是absolute -->
                <li class="nav-item memberCart">
                    <a class="nav-link text-center text-light-brown" href="cart.html">購物車</a>
                    <span class="cartAlertBadge alertBadge d-none">
                        <span class="visually-hidden">New alerts</span>
                    </span>
                </li>

            </ul>
        </div>
        
    </div>
</nav>


<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script type="module" src="../assets/js/header.js"></script>