<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deal Meal 訂食</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
    <!-- sweetalert -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.css" rel="stylesheet">
  </head>

  <body>
    <!-- sweetalert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.js"></script>
    
    <%- include('./layout/header'); -%>
    <section class="container my-7">
      <div class="row justify-content-center cartFirstStep">

        <div class="col-10 col-lg-6">
          <ol class="pay-list d-flex justify-content-between list-unstyled position-relative">
            <!-- 當前的狀態會為number-active -->
            <li class="d-flex flex-column align-items-center">
              <p class="number number-active rounded-circle d-flex justify-content-center align-items-center">1</p>
              <p class="">購物車</p>
            </li>
            <li class="d-flex flex-column align-items-center">
              <p class="number rounded-circle d-flex justify-content-center align-items-center">2</p>
              <p class="">配送資訊</p>
            </li>
            <li class="d-flex flex-column align-items-center">
              <p class="number rounded-circle d-flex justify-content-center align-items-center">3</p>
              <p class="">確認付款</p>
            </li>
          </ol>
        </div>
        
        <div class="col-10 my-5">
          <div class="row justify-content-end mb-3">
            <div class="col-6 col-md-3">
              <button type="button" class="py-2 btn btn-outline-primary w-100 rounded-0 clearCartBtn">清空購物車</button>
            </div>
          </div>

          <!-- mobile抬頭 -->
          <div class="row d-md-none bg-normal-brown py-2">
            <span class="d-block text-center">商品總覽</span>
          </div>
          <!-- pad.pc抬頭 -->
          <div class="row py-3 justify-content-center bg-normal-brown text-center d-none d-md-block d-md-flex">
            <div class="col-5">商品</div>
            <div class="col-2">單價</div>
            <div class="col-2">份數</div>
            <div class="col-2">小計</div>
            <div class="col-1">移除</div>
          </div>

          <div class="cartItemsContent">
          </div>
          
          
        </div>

        <div class="col-10">
          <div class="row">
            <div class="col-md-6 mb-6 mb-md-0">

              <span>優惠折扣碼</span>
              <span class="text-dark-brown fs-7">需按下使用才會生效</span>
              <div class="d-flex mt-2">
                <div class="d-flex flex-column w-75 pe-4">
                  <input class="mb-2 py-2 couponInput" type="text" placeholder="在此輸入要使用的優惠碼">
                  <span class="couponDiscount"></span>
                </div>
                <button class="mb-auto py-2 btn btn-normal-brown w-25 useCouponBtn" type="button">使用</button>
              </div>

            </div>


            <div class="col-6 col-md-3 text-center">
              <span class="d-block mb-2">+運費(不列入折扣)</span>
              <p>80元</p>
            </div>

            <div class="col-6 col-md-3 text-center">
              <span class="d-block mb-2">合計</span>
              <p class="fs-4 fw-bold cartTotal"></p>
            </div>
          </div>
        </div>

        <div class="col-4">
          <button type="button" class="mt-7 py-2 btn btn-primary text-light-brown w-100 rounded-0 cartNextBtn">結帳</button>
        </div>
        
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/cart.js"></script>
  </body>
</html>
