<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deal Meal 訂食</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
    <!-- sweetalert -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.css" rel="stylesheet">
  </head>

  <body>
    <!-- VALIDATE.JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
    <!-- sweetalert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.js"></script>

    <%- include('./layout/header'); -%>
    <section class="container my-7">
      <div class="row justify-content-center">
        <div class="col-10 col-lg-6">
          <ol class="pay-list d-flex justify-content-between list-unstyled position-relative">
            <!-- 當前的狀態會為number-active -->
            <li class="d-flex flex-column align-items-center">
              <p class="number rounded-circle d-flex justify-content-center align-items-center">1</p>
              <p class="">購物車</p>
            </li>
            <li class="d-flex flex-column align-items-center">
              <p class="number number-active rounded-circle d-flex justify-content-center align-items-center">2</p>
              <p class="">配送資訊</p>
            </li>
            <li class="d-flex flex-column align-items-center">
              <p class="number rounded-circle d-flex justify-content-center align-items-center">3</p>
              <p class="">確認付款</p>
            </li>
          </ol>
        </div>
        
        <div class="col-10 mt-5">
          <div class="row bg-normal-brown py-2">
            <span class="d-block text-center">配送資訊</span>
          </div>

          <form class="row py-5 border border-dark-brown border-top-0 deliverInfoForm">
            <div class="col-lg-4">
              <div class="row">
                  <div class="col-lg-3 text-lg-end">
                      <span>姓名</span>
                  </div>
                  <div class="col-lg-9">
                      <input class="w-100 mb-3 mb-md-4 deliverInfoName" type="text" name="姓名">
                  </div>
              </div>
          </div>
          <div class="col-lg-8">
              <div class="row">
                  <div class="col-lg-2 text-lg-end">
                      <span>電子信箱</span>
                  </div>
                  <div class="col-lg-10">
                      <input class="w-100 mb-3 mb-md-4 deliverInfoEmail" type="email" name="電子信箱">
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="row">
                  <div class="col-lg-3 text-lg-end">
                      <span>電話號碼</span>
                  </div>
                  <div class="col-lg-9">
                      <input class="w-100 mb-3 mb-md-4 deliverInfoTel" type="tel" placeholder="請填入聯絡電話" name="電話號碼">
                  </div>
              </div>
          </div>
          <div class="col-lg-8">
              <div class="row">
                  <div class="col-lg-2 text-lg-end">
                      <span>配送地址</span>
                  </div>
                  <div class="col-lg-10">
                      <input class="w-100 mb-3 mb-md-4 deliverInfoAddress" type="text" name="配送地址">
                  </div>
              </div>
          </div>
          </form>
          
        </div>


        <div class="col-4">
          <button type="submit" class="mt-7 py-2 btn btn-primary text-light-brown w-100 rounded-0 deliverNextBtn">下一步</button>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/deliver.js"></script>
  </body>
</html>
