<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deal Meal 訂食</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
    <!-- sweetalert -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.css" rel="stylesheet">
  </head>

  <body>
    <!-- sweetalert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.js"></script>
   
    <%- include('./layout/header'); -%>

    <section class="container my-3 my-lg-7">
        <div class="row justify-content-center">
            <div class="col-10 mealDetail">

            </div>
        </div>
    </section>

    <%- include('./layout/footer'); -%>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/meal.js"></script>
  </body>
</html>
