<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deal Meal 訂食</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
    <!-- sweetalert -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.css" rel="stylesheet">
  </head>

  <body>
    <!-- VALIDATE.JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
    <!-- sweetalert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.js"></script>

    <%- include('./layout/header'); -%>
    <section class="container">
        <div class="row justify-content-center mt-3 mb-7">
            <div class="col-10 px-0">
              <button type="button" class="d-block py-2 mb-3 ms-auto btn btn-primary text-light-brown rounded-0 logoutBtn">登出</button>

              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item w-50" role="memberTab">
                  <button class="nav-link active w-100 text-dark-brown py-4 fs-4" data-bs-toggle="tab" data-bs-target="#member" type="button" role="tab" aria-controls="member" aria-selected="true">會員資料</button>
                </li>
                <li class="nav-item w-50" role="orderTab">
                  <button class="nav-link w-100 text-dark-brown py-4 fs-4" data-bs-toggle="tab" data-bs-target="#order" type="button" role="tab" aria-controls="order" aria-selected="false">歷史訂單</button>
                </li>
              </ul>

              <div class="tab-content border border-dark-brown border-top-0 d-flex flex-column align-items-center">
                <!-- 會員資料 -->
                <div class="tab-pane fade show active w-50 my-7" id="member" role="tabpanel">
                  <form class="memberFile">
                    <label for="memberName" class="form-label">你的用戶名稱</label>
                    <div class="d-flex mb-4 align-items-center">
                      <input type="text" class="w-100 form-control rounded-0 border-primary" id="memberName" name="用戶名稱">
                    </div>
                    
                    <label for="memberEmail" class="form-label">你的電子信箱</label>
                    <div class="d-flex mb-4 align-items-center">
                      <input type="email" class="w-100 form-control rounded-0 border-primary" id="memberEmail" name="電子信箱">
                    </div>
                    <label for="memberAddress" class="form-label">你的配送地址</label>
                    <div class="d-flex mb-5 align-items-center">
                      <input type="text" class="w-100 form-control rounded-0 border-primary" id="memberAddress" name="配送地址">
                    </div>
                    <button type="submit" class="py-2 btn btn-primary text-light-brown w-100 rounded-0 saveFileComfirm">儲存變更</button>
                  </form>
                    

                </div>

                <!-- 歷史訂單 -->
                <div class="tab-pane fade w-100" id="order" role="tabpanel">

                  <table class="table table-borderless bg-light-brown table-striped text-center my-3">
                    <thead>
                      <tr>
                        <th class="py-3" scope="col">訂單日期</th>
                        <th class="py-3" scope="col">訂單編號</th>
                        <th class="py-3" scope="col">訂購人</th>
                        <th class="py-3" scope="col">訂單狀態</th>
                        <th class="py-3" scope="col">展開訂單</th>
                      </tr>
                    </thead>
                    <tbody class="historyOrderContent">
                    </tbody>
                  </table>

                </div>

                
              </div>

            </div>
        </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/member.js"></script>
  </body>
</html>
