<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deal Meal 訂食</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
    <!-- sweetalert -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.css" rel="stylesheet">
  </head>

  <body>
    <!-- sweetalert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.js"></script>

    <%- include('./layout/header'); -%>
    <section class="container">
        <div class="row justify-content-center mt-5 mb-7">
            <div class="col-10 px-0">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item w-100" role="passwordTab">
                      <button class="nav-link active w-100 text-dark-brown py-4 fs-4" data-bs-toggle="tab" data-bs-target="#forgotPassword" type="button" role="tab" aria-controls="login" aria-selected="true">忘記密碼</button>
                    </li>
                </ul>
                <div class="tab-content border border-dark-brown border-top-0 py-7 d-flex flex-column align-items-center">
                    <div class="tab-pane fade show active w-50" id="login" role="tabpanel">
                        <label for="sendEmail" class="form-label">我們將寄送一組新的密碼至您的電子信箱</label>
                        <input type="email" class="form-control rounded-0 border-primary mb-4" id="sendEmail" placeholder="請輸入電子信箱">
                        <button type="button" class="py-2 btn btn-primary text-light-brown w-100 rounded-0 mb-4">送出</button>
                        <a class="text-decoration-none" href="#" onClick="javascript :history.back(-1);">返回上一頁</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
