<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deal Meal 訂食</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
    <!-- sweetalert -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.css" rel="stylesheet">
  </head>

  <body>
    <!-- sweetalert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.js"></script>

    <%- include('./layout/header'); -%>
    <section class="container my-7">
      <!-- 商品資訊 -->
      <div class="row justify-content-center">
        <div class="col-10 col-lg-6">
          <ol class="pay-list d-flex justify-content-between list-unstyled position-relative">
            <!-- 當前的狀態會為number-active -->
            <li class="d-flex flex-column align-items-center">
              <p class="number rounded-circle d-flex justify-content-center align-items-center">1</p>
              <p class="">購物車</p>
            </li>
            <li class="d-flex flex-column align-items-center">
              <p class="number rounded-circle d-flex justify-content-center align-items-center">2</p>
              <p class="">配送資訊</p>
            </li>
            <li class="d-flex flex-column align-items-center">
              <p class="number number-active rounded-circle d-flex justify-content-center align-items-center">3</p>
              <p class="">確認付款</p>
            </li>
          </ol>
        </div>
        
        <div class="col-10 my-5">
          <!-- mobile抬頭 -->
          <div class="row d-md-none bg-normal-brown py-2">
            <span class="d-block text-center">商品總覽</span>
          </div>
          <!-- pad.pc抬頭 -->
          <div class="row py-3 justify-content-center bg-normal-brown text-center d-none d-md-block d-md-flex">
            <div class="col-5">商品</div>
            <div class="col-2">單價</div>
            <div class="col-2">份數</div>
            <div class="col-3">小計</div>
          </div>
          <!-- 商品內容 -->
          <div class="paymentItemsContent">
          </div>
        </div>

        <div class="col-10">
          <div class="row justify-content-between">
            <div class="col-md-9 mb-4 mb-md-6 mb-md-0 text-center text-md-start">
              <span class="d-block mb-2">優惠折扣碼</span>
              <!-- 優惠碼內容 -->
              <div class="d-flex flex-column w-75 mx-auto mx-md-0 couponContent">
              </div>
            </div>
            <div class="col-md-3 text-center">
              <span class="d-block mb-2">運費</span>
              <p>80元</p>
            </div>
          </div>
        </div>
      </div>

      <!-- 訂購人資訊 -->
      <div class="row mt-4 mt-md-0 justify-content-center">
        <div class="col-10">
          <div class="row bg-normal-brown py-2">
            <span class="d-block text-center">配送資訊</span>
          </div>

          <div class="row py-5 border border-dark-brown border-top-0">
            <div class="col-lg-4">
              <div class="row">
                <div class="col-lg-3 text-lg-end">
                  <span>姓名</span>
                </div>
                <div class="col-lg-9">
                  <p class="w-100 mb-3 mb-md-4 deliverNameContent"></p>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col-lg-2 text-lg-end">
                  <span>電子信箱</span>
                </div>
                <div class="col-lg-10">
                  <p class="w-100 mb-3 mb-md-4 deliverEmailContent"></p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row">
                <div class="col-lg-3 text-lg-end">
                  <span>電話號碼</span>
                </div>
                <div class="col-lg-9">
                  <p class="w-100 mb-3 mb-md-4 deliverTelContent"></p>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col-lg-2 text-lg-end">
                  <span>配送地址</span>
                </div>
                <div class="col-lg-10">
                  <p class="w-100 mb-3 mb-md-4 deliverAddressContent"></p>
                </div>
              </div>
            </div>
            
            <div class="col d-flex justify-content-end align-items-center">
              <span>合計</span>
              <p class="fs-4 fw-bold mx-4 totalPriceContent"></p>
            </div>
          </div>
        </div>
      </div>

      <!-- 付款方式 -->
      <div class="row justify-content-center">
        <div class="col-10 mt-5">
          <div class="row bg-normal-brown py-2">
            <span class="d-block text-center">選擇付款方式</span>
          </div>

          <div class="row py-5 border border-dark-brown border-top-0">
            <div class="col-4 col-lg-2 mx-auto">

              <!-- linepay -->
              <div class="form-check mb-5 d-flex align-items-center">
                <div>
                  <input class="form-check-input" type="radio" name="payment" id="linePay" data-js-payment="linepay">
                </div>
                <div>
                  <label class="form-check-label" for="linePay">
                    <img class="w-100" src="../assets/images/icon_linepay.png" alt="icon_linepay">
                  </label>
                </div>
              </div>

              <div class="form-check mb-5 d-flex align-items-center">
                <div>
                  <input class="form-check-input" type="radio" name="payment" id="jkoPay" data-js-payment="街口支付">
                </div>
                <div>
                  <label class="form-check-label" for="jkoPay">
                    <img class="w-100" src="../assets/images/icon_jkopay.png" alt="icon_jkopay">
                  </label>
                </div>
              </div>
              <div class="form-check d-flex align-items-center">
                <div>
                  <input class="form-check-input" type="radio" name="payment" id="applePay" data-js-payment="applepay">
                </div>
                <div>
                  <label class="form-check-label" for="applePay">
                    <img class="w-100" src="../assets/images/icon_applepay.png" alt="icon_applepay">
                  </label>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 確認按鈕 -->
      <div class="row">
        <div class="col-4 mx-auto">
          <button type="button" class="mt-7 py-2 btn btn-primary text-light-brown w-100 rounded-0 confrimBtn" data-bs-toggle="modal" data-bs-target="#choosePaymentModal">付款及送出訂單</button>

        <!-- 有選擇付款方式的 Modal -->
        <div class="modal fade" id="confirmOrderModal" tabindex="-1" aria-labelledby="confirmModal" aria-hidden="true">
          <div class="modal-dialog">

            <div class="modal-content">
              <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">確認視窗</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                是否確認送出訂單及付款資訊？
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary sendOrderBtn">確認</button>
              </div>
            </div>

          </div>
        </div>

        <!-- 沒選擇付款方式的 Modal -->
        <div class="modal fade" id="choosePaymentModal" tabindex="-1" aria-labelledby="confirmModal" aria-hidden="true">
          <div class="modal-dialog">

            <div class="modal-content">
              <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">提醒視窗</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                請選擇付款方式
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">確認</button>
              </div>
            </div>

          </div>
        </div>


        </div>
      </div>

      
    </section>

    <%- include('./layout/footer'); -%>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/payment.js"></script>
  </body>
</html>
