<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deal Meal 訂食</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
    <!-- sweetalert -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.css" rel="stylesheet">
  </head>

  <body>
    <!-- sweetalert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.js"></script>
    
    <%- include('./layout/header'); -%>
    
    <div class="container">
      <div class="row justify-content-center my-7">
        <div class="col-md-6">
          <p class="text-center fs-5 text-dark-brown lh-lg">
            本網站僅為練習作品<br>
            帳號密碼為模擬使用<br>
            所使用圖片取自公開圖庫
          </p>
          <p class="text-center fs-5 text-dark-brown lh-lg">
            來源：<br>
            https://unsplash.com/<br>
            https://www.pexels.com/zh-tw/<br>
            https://www.iconfinder.com/<br>
          </p>
        </div>
      </div>
    </div>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
