<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deal Meal 訂食</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
    <!-- sweetalert -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.css" rel="stylesheet">
  </head>

  <body>
    <!-- sweetalert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.js"></script>
    
    <%- include('./layout/header'); -%>
    <img class="mb-lg-5" src="../assets/images/product_banner.png" alt="product_banner" style="width: 100%;">

    <!-- mobile選單 -->
    <nav class="stickyWithNav d-lg-none bg-primary">
      <div class="container">
        <div class="row mobileSeriesFilter">
        </div>
      </div>
    </nav>

    <div class="container mb-7">
      <div class="row">
        <!-- pc選單 -->
        <aside class="col-lg-3">
          <div class="d-none  d-lg-flex flex-column stickyWithNav d-none pcSeriesFilter">
          </div>
        </aside>

        <div class="col-lg-9">
          <div class="row pt-3 pt-lg-0 productsList">
          </div>
          <div class="row">
            <div class=" d-flex justify-content-center pagination">
            </div>
          </div>
        </div>

      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/products.js"></script>
  </body>
</html>
