<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deal Meal 訂食</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
  </head>

  <body>
    <%- include('./layout/header'); -%>
    <section class="container my-7">
        <div class="row justify-content-center">
            <div class="col-10 ">

                <div class="row justify-content-between mb-7">
                    <div class="col-6">
                        <div class="ratio ratio-1x1">
                            <img src="../assets/images/塑身＿清爽豆蔬雞胸.jpg" alt="塑身＿清爽豆蔬雞胸">
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-column justify-content-between">
                        <div>
                            <span class="mb-3">塑身系列</span>
                            <h1 class="fs-1 mb-4">清爽豆蔬雞胸胸胸胸胸</h1>
                            <p class="fs-4 mb-4">即時庫存：18份</p>
                            <p class="fs-4 fw-bold">售價：160元</p>
                        </div>
                        <div>
                            <div class="d-flex">
                                <p class="fs-4">數量</p>
                                <!-- 尚未製作，數量按鈕 -->
                            </div>
                            <button type="button" class="py-4 mt-5 btn btn-primary text-light-brown w-100 rounded-0">加入購物車</button>
                        </div>
                    </div>
                </div>

                <h2 class="bg-light-brown fs-4 fw-normal py-2 text-center">內容物</h2>
                <p class="py-5 text-center fs-4">雞胸肉、甜豆、鹽、橄欖油</p>
                <div class="row justify-content-between mb-7">
                    <div class="col-6 text-center">
                        <h2 class="bg-normal-brown fs-4 fw-normal py-2">營養標示</h2>
                        <h3 class="fs-5 fw-bold pt-5 mb-1">每一份量</h3>
                        <p>350公克</p>
                        <h3 class="fs-5 fw-bold pt-4 mb-1">熱量</h3>
                        <p>410大卡</p>
                        <h3 class="fs-5 fw-bold pt-4 mb-1">碳水化合物</h3>
                        <p>80公克</p>
                        <h3 class="fs-5 fw-bold pt-4 mb-1">蛋白質</h3>
                        <p>18公克</p>
                        <h3 class="fs-5 fw-bold pt-4 mb-1">脂肪</h3>
                        <p>10.5公克</p>
                    </div>
                    <div class="col-6 text-center">
                        <h2 class="bg-normal-brown fs-4 fw-normal py-2">加熱方式</h2>
                        <h3 class="fs-5 fw-bold pt-5 mb-1">微波</h3>
                        <p>撕開包裝一角，放入微波爐加熱10分鐘</p>
                        <h3 class="fs-5 fw-bold pt-4 mb-1">烤箱</h3>
                        <p>將包裝拆除移到盤中，170度加熱7分鐘</p>
                    </div>
                </div>


            </div>
        </div>
    </section>

    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
